<%- include("partials/header") %> 

<h1>Compose</h1>

<form class="" action="/compose" method="POST">

    <div class="mb-3">
        <label for="postTitle" class="form-label">Title</label>
        <input type="text" class="form-control" name="postTitle" id="postTitle">
      </div>

      <div class="mb-3">
        <label for="postBody" class="form-label">Post</label>
        <textarea rows="5" type="text" class="form-control" name="postBody" id="postBody"></textarea>
      </div>

    <button type="submit" class="btn btn-primary" name="" value="">Publish</button>
</form>

<%- include('partials/footer') %> 